.item {
  width: 95%;
  cursor: pointer;
  display: flex;
  margin: auto;
  background-color: rgb(185 113 227);
  transition: 0.5s;
}
.item:hover {
  box-shadow: 7px 7px 3px #aaaaaa;
  transition: 0.5s;
}

.itemDiv {
  display: flex;
  width: 95%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h6 {
  padding: 8px 15px;
  color: white;
}

h5 {
  color: rgb(179, 179, 179);
  padding: 5px 15px;
}

.plus {
  margin-left: 20px;
  font-size: 20px;
  padding: 1px 6px 2px 6px;
  justify-content: center;
  justify-items: center;
  margin: 5px 5px 5px 5px;
  border: none;
  background-color: rgb(119, 190, 13);
  color: white;
  border-radius: 4px;
  transition: 0.5s;
}
.plus:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.minus {
  margin-left: 20px;
  font-size: 20px;
  padding: 1px 8px 2px 8px;
  justify-content: center;
  justify-items: center;
  margin: 5px 5px 5px 5px;
  border: none;
  background-color: rgb(226, 89, 89);
  color: white;
  border-radius: 4px;
  transition: 0.5s;
}
.minus:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.strike {
  text-decoration: line-through wavy black;
}

.unstrike {
  text-decoration: none;
}
